:root{
    --blue:#14b0a9;
    --red:#9c0e1e;
  }

nav{
    background-color: var(--red) !important;
}
nav .profile{
    right: 20px;
    position: absolute;
}
nav .dropdown-toggle::after{
    visibility: hidden;
    display: none;
}
nav .navbar-brand{
    color: white;
}
li.active{
    background-color: #b0141445;
}
.profile-menu{
    right: 10px;
    left: auto !important;
}
.contents .side-menu{
    float: left;
    background-color: #b014141f;
    height: 200rem;
    padding-top: 20px;
}
.contents .side-menu ul{
    list-style-type: none;
    line-height: 50px;
    width: 150px;
    padding: 0;
}
.contents .side-menu ul li{
   padding-left: 20px;
   cursor: pointer;
}
.contents .side-menu ul li a{
    text-decoration: none;
    width: 100%;
    display: block;
    color: black;
}
.contents .side-menu ul li:hover{
    background-color: var(--red) !important;
    color: white;
}
.contents .side-menu ul li a:hover {
    color: white;
}

.contents .side-menu ul i{
    font-size: 20px;
}
.content{
    padding: 20px;
    overflow: hidden;
}
/* login page css*/
.login-page{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
}
.login-page form{
    width: 30%;
}
.login-page form > button{
    text-align: center;
}

/* ck editor*/
.ck.ck-editor{
    width: 100% !important;
}



.blog-content .card__body {
    height: 280px;
}
.blog-content .card__body p{
    margin: 0;
}
.blog-content .card__header {
    height: 200px;
    overflow: hidden;
}