.wts-icn,.cal-icn{
    position: fixed;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 20px;
}
.wts-icn{
    bottom: 10vh;
    transform: translateY(50px);
    transition: 0.5s;
    opacity: 0;
    font-size: 33px;
    background-color: rgb(48, 186, 48);
}
.wts-icn.wts-actv{
    opacity: 1;
    transform: translateY(0);
}
.cal-icn{
    bottom: 18vh;
    transform: translateY(15px);
    transition: 0.5s;
    opacity: 0;
    font-size: 23px;
    background-color: rgb(147, 48, 186);
}
.cal-icn.cal-actv{
    opacity: 1;
    transform: translateY(0);
}